.Education{
    font-family:"Quicksand", Arial, sans-serif;
    padding-top: 2%;
    padding-bottom: 10%;
    background-color: #f4f4f4;
    min-height: 100%;
    padding-left: 5%;
}
.Education h5{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #999999;
}
.EducationHeading{
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.8;
}
.Education p{
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 400;

}
.AccHeader{
    font-weight: 100 !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-family: "Quicksand", Arial, sans-serif !important;
}
.Accordion{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100 !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-family: "Quicksand", Arial, sans-serif !important;
}

/* Increase specificity by using more specific selectors */

@media only screen and (max-width: 801px) {
    .accordion-button {
        font-weight: 500;
        font-size: 10px !important;
      
        text-transform: uppercase !important;
      
    }
    .Accordion{
        font-size: 10px !important;
    }

    
}

