.mainContainer {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  margin-right: 10%;
  
}

.container1 {
  flex: 0 0 25%; /* Takes up 20% of the container's width */
  background-color: #f2f3f7;
  transform: translateX(0%);
  transition: transform 1s ease, opacity 1s ease, visibility 1s ease;
  /* position: fixed; */
  
}

.burger-icon {
  display: none;
}

.container2 {
  flex: 1; /* Takes up the remaining width */
  overflow: scroll;
  
  
}

@media only screen and (max-width: 768px) {
  .container1 {
    position: fixed; /* Position fixed to ensure it doesn't affect layout */
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    width: 50%; /* Adjust width for mobile */
    transform: translateX(-100%); /* Initially off-screen */
    opacity: 0; /* Hidden by default */
    visibility: hidden; /* Hidden by default */
    transition: transform 1s ease, opacity 1s ease, visibility 1s ease; /* Smooth transition */
    overflow: scroll;
  }
  
  .container1.show {
    transform: translateX(0%); /* Slide into view */
    opacity: 1; /* Make it visible */
    visibility: visible; /* Ensure it's visible */
    z-index: 500;
  }
  
  .burger-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: block; /* Show the burger icon on smaller screens */
  }
  
  .mainContainer {
    padding-right: 0;
    padding-left: 0;
  }
}
